@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideUp {
  0% {
    transform: translateY(5rem); }
  100% {
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

h1,
h2 {
  font-family: "DM Serif Display", serif;
  color: white;
  font-weight: 400; }

h3 {
  font-size: 1.3rem; }

p {
  line-height: 1.5; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1.2rem;
  letter-spacing: 1.36px;
  font-weight: 400;
  transition: 0.2s ease; }
  a:hover {
    color: #95a9c6; }
  @media screen and (min-width: 768px) {
    a {
      color: #837d87;
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      font-weight: bold;
      padding: 0; }
      a:hover {
        color: #2d2640; } }

.container {
  max-width: 111rem;
  margin: 0 auto;
  width: 90%; }

.cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid #fff;
  color: white;
  transition: all 0.3s ease-in-out;
  height: 4rem; }
  .cta:hover {
    background: white;
    color: #2d2640; }
  .cta--nav {
    font-family: "Karla", sans-serif;
    letter-spacing: 1.36px;
    font-size: 2rem;
    width: 87%;
    max-width: 34rem;
    padding: 1.2rem 2.65rem; }
    @media screen and (min-width: 768px) {
      .cta--nav {
        background: none;
        color: #2d2640;
        font-size: 1.3rem;
        letter-spacing: 1.5px;
        font-weight: bold;
        border: 1px solid #2d2640;
        width: 14.6rem; }
        .cta--nav:hover {
          background: #2d2640;
          color: white; } }
  .cta--hero {
    width: 14.6rem;
    height: 4rem;
    font-weight: bold;
    line-height: 1.52rem;
    letter-spacing: 1.5px;
    justify-self: center;
    padding: 1.2rem;
    margin-top: 1.4rem; }
    @media screen and (min-width: 768px) {
      .cta--hero {
        margin-top: 0;
        justify-self: left;
        width: auto;
        padding: 1.15rem 2.65rem; } }
    @media screen and (min-width: 992px) {
      .cta--hero {
        margin-top: 1.6rem; } }
  .cta--action {
    letter-spacing: 0.15rem;
    line-height: 1.52rem;
    padding: 1rem 2.5rem; }
    @media screen and (min-width: 992px) {
      .cta--action {
        padding: 1rem 2.2rem; } }

.horizontal::before {
  content: "";
  position: absolute;
  width: 15rem; }

.horizontal--hero::before {
  display: none;
  border-top: 1px solid #fff;
  top: -6.4rem; }
  @media screen and (min-width: 992px) {
    .horizontal--hero::before {
      display: block; } }

.horizontal--features::before {
  border-top: 1px solid #c396c6;
  left: 50%;
  margin: -3.2rem 0 0 -7.5rem; }
  @media screen and (min-width: 992px) {
    .horizontal--features::before {
      left: unset;
      margin: -4.6rem 0 0 0; } }

.action {
  padding-bottom: 14rem; }
  @media screen and (min-width: 992px) {
    .action {
      padding-bottom: 15rem; } }
  .action .container {
    width: 87%; }
  .action__content {
    text-align: center;
    background: #2d2640;
    padding: 7.2rem 2.4rem 7rem;
    position: relative;
    z-index: 2;
    line-height: 4rem;
    overflow: hidden; }
    .action__content::before {
      content: url(/images/bg-pattern-how-we-work-mobile.svg);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
      @media screen and (min-width: 992px) {
        .action__content::before {
          content: url(/images/bg-pattern-how-we-work-desktop.svg); } }
    @media screen and (min-width: 992px) {
      .action__content {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7rem 8rem 6.8rem 8.1rem; } }
  .action .heading {
    font-size: 4rem;
    letter-spacing: -0.56px;
    padding-bottom: 4.2rem; }
    @media screen and (min-width: 992px) {
      .action .heading {
        padding-bottom: 0;
        letter-spacing: -0.78px;
        line-height: 100%;
        max-width: 55%;
        font-size: 4.5rem; } }
    @media screen and (min-width: 1200px) {
      .action .heading {
        font-size: 5.6rem;
        max-width: 47.5rem; } }

.navigation {
  padding: 1.9rem 0.6rem;
  background: white;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .navigation {
      padding: 1.8rem 0; } }
  .navigation__menu {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 10;
    position: relative; }
    @media screen and (min-width: 768px) {
      .navigation__menu {
        padding: 0; } }

@media screen and (min-width: 768px) {
  .menu-logo {
    padding-top: 0;
    padding-left: 0.3rem; } }

a {
  padding: 0; }

.menu-icon {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  background-image: url(/images/icon-hamburger.svg); }
  @media screen and (min-width: 768px) {
    .menu-icon {
      display: none; } }

.menu-links {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  position: fixed;
  list-style: none;
  height: 58.7rem;
  width: 100%;
  top: 8rem;
  left: 0;
  transition: all 0.3s ease-in-out;
  background: #2b272f;
  transform-origin: top right;
  text-align: center;
  padding: 3rem 0 4rem;
  font-weight: 700;
  z-index: -1;
  text-transform: uppercase;
  list-style: none;
  margin: 0 auto; }
  .menu-links::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    z-index: 100;
    opacity: 0;
    left: 0;
    width: 100vw;
    top: 59rem; }
  @media screen and (min-width: 768px) {
    .menu-links {
      position: static;
      display: flex;
      display: grid;
      grid-template-columns: repeat(4, max-content);
      column-gap: 2.8rem;
      transform: none;
      background: transparent;
      height: unset;
      width: unset;
      padding: 0;
      margin: 0;
      padding-top: 0.3rem;
      column-gap: 2.4rem; } }
  .menu-links li {
    line-height: 4rem;
    padding: 1.1rem 0; }
    @media screen and (min-width: 768px) {
      .menu-links li {
        padding: 0; } }
    .menu-links li:last-child::after {
      content: "";
      background-image: url(/images/bg-pattern-mobile-nav.svg);
      position: absolute;
      left: 0;
      bottom: 0;
      height: 218px;
      width: 100%;
      width: 100%;
      background-size: cover; }
      @media screen and (min-width: 768px) {
        .menu-links li:last-child::after {
          display: none; } }

.plans {
  margin-top: 0.8rem; }
  @media screen and (min-width: 768px) {
    .plans {
      margin: 0 0 0 0.8rem; } }
  .plans a {
    padding: 1.5rem 10rem; }
    @media screen and (min-width: 768px) {
      .plans a {
        padding: 1.15rem 2.7rem; } }

#toggle {
  display: none; }

#toggle:checked + .menu-icon {
  background-image: url(/images/icon-close.svg); }

#toggle:checked ~ .menu-links {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

#toggle:checked ~ .menu-links:after {
  opacity: 1; }

.hero {
  text-align: center;
  background: #2d2640; }
  @media screen and (min-width: 768px) {
    .hero {
      position: relative;
      text-align: left;
      max-height: 60rem; }
      .hero::before {
        content: url(/images/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        bottom: -33.5rem;
        left: 0; }
      .hero::after {
        content: url(/images/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        top: -8rem;
        right: 0; } }
  @media screen and (max-width: 767px) {
    .hero .container {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .hero__content {
      display: flex;
      align-items: center;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .hero .image {
      flex: 1;
      order: 2; } }
  @media screen and (min-width: 992px) {
    .hero .image img {
      animation: fadeIn 2s ease; } }
  @media screen and (min-width: 1200px) {
    .hero .image img {
      margin-left: 1rem;
      width: 540px;
      transform: translateY(10.5rem); } }
  .hero .heading {
    color: white;
    padding: 9.1rem 2.5rem 9.3rem;
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 1.7rem; }
    @media screen and (min-width: 768px) {
      .hero .heading {
        flex: 1;
        order: 1;
        padding-left: 0; } }
    @media screen and (min-width: 992px) {
      .hero .heading {
        animation: fadeIn 2s ease, slideUp 2s ease; } }
    @media screen and (min-width: 1200px) {
      .hero .heading {
        padding: 0 2rem 1.5rem 0;
        grid-template-rows: 14rem 8rem 5rem;
        row-gap: 1.4rem; } }
    .hero .heading::before {
      content: url(/images/bg-pattern-intro-left-mobile.svg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; }
      @media screen and (min-width: 768px) {
        .hero .heading::before {
          display: none; } }
    .hero .heading::after {
      content: url(/images/bg-pattern-intro-right-mobile.svg);
      position: absolute;
      bottom: -18rem;
      right: 0rem; }
      @media screen and (min-width: 768px) {
        .hero .heading::after {
          display: none; } }
    .hero .heading h1 {
      font-family: "DM Serif Display", serif;
      font-size: 4.8rem;
      line-height: 1;
      letter-spacing: -0.67px;
      position: relative; }
      @media screen and (min-width: 768px) {
        .hero .heading h1 {
          font-size: 5.5rem;
          position: relative; } }
      @media screen and (min-width: 1200px) {
        .hero .heading h1 {
          font-size: 7.2rem;
          line-height: 89%;
          letter-spacing: -1px;
          padding-right: 2rem; } }
    .hero .heading p {
      font-size: 1.6rem;
      line-height: 2.6rem; }
      @media screen and (min-width: 1200px) {
        .hero .heading p {
          padding-top: 0.2rem; } }

.features {
  text-align: center;
  padding: 14rem 0 12.3rem 0; }
  @media screen and (min-width: 992px) {
    .features {
      text-align: left;
      position: relative;
      padding-top: 18rem;
      padding-bottom: 10.2rem; } }
  @media screen and (min-width: 1200px) {
    .features {
      padding-top: 31.9rem; } }
  .features__heading {
    color: #2b272f;
    font-size: 4.8rem;
    letter-spacing: -0.67px;
    padding-top: 3.2rem; }
    @media screen and (min-width: 992px) {
      .features__heading {
        font-size: 7.2rem;
        letter-spacing: -1px; } }
  .features__list {
    padding-top: 7.2rem; }
    @media screen and (min-width: 992px) {
      .features__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        padding-top: 7.9rem; } }
    .features__list li {
      display: grid;
      grid-template-rows: 10rem 4rem 9rem;
      grid-gap: 1.8rem;
      max-width: 60rem;
      margin: 0 auto; }
      .features__list li:not(:last-child) {
        padding-bottom: 4rem; }
      @media screen and (min-width: 992px) {
        .features__list li {
          max-width: 35rem; } }
      .features__list li img {
        width: 8.6rem;
        height: 8.6rem;
        margin: 0 auto; }
        @media screen and (min-width: 992px) {
          .features__list li img {
            margin: 0; } }
      .features__list li h2 {
        color: #2b272f;
        font-size: 2.8rem;
        letter-spacing: -0.39px; }
      .features__list li p {
        color: #837d87;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-top: -0.5rem;
        padding: 0 0.7rem; }
        @media screen and (min-width: 992px) {
          .features__list li p {
            padding: 0; } }

.footer {
  background: #fafafa;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.52rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  padding: 8.8rem 0 0;
  position: relative;
  z-index: 2;
  overflow-x: hidden; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 6.4rem 0 0 0; } }
  .footer::before {
    content: url(/images/bg-pattern-footer-mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    @media screen and (min-width: 768px) {
      .footer::before {
        content: url(/images/bg-pattern-footer-desktop.svg); } }
  .footer h3 {
    padding-bottom: 3.6rem;
    color: #837d87; }
  .footer ul {
    padding-bottom: 4rem; }
  .footer hr {
    width: 100%;
    margin-bottom: 3.9rem;
    opacity: 0.5; }
  @media screen and (min-width: 768px) {
    .footer__top {
      display: flex;
      justify-content: space-between; } }
  .footer__top .footerLogo {
    width: 11.12rem;
    margin: 0 auto;
    padding: 0.3rem 0 3.2rem; }
  .footer__top .icons {
    display: grid;
    grid-template-columns: repeat(4, 2.4rem);
    column-gap: 1.6rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.6rem; }
    @media screen and (min-width: 768px) {
      .footer__top .icons {
        padding-bottom: 3rem; } }
    .footer__top .icons svg {
      fill: #837d88;
      transition: all 0.2s ease; }
      .footer__top .icons svg:hover {
        fill: #2d2640; }
  @media screen and (min-width: 768px) {
    .footer__bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: left;
      grid-gap: 3rem;
      padding: 0.8rem 0 0.9rem; } }
  .footer .about li:not(:last-child) {
    padding-bottom: 1.6rem; }
  .footer .about a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2d2640;
    position: relative; }

.underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background-color: #2d2640;
  left: 0; }

.underline:hover:before {
  opacity: 1;
  width: 100%; }

.attribution {
  font-size: 1.1rem;
  text-align: center;
  text-transform: initial;
  letter-spacing: normal; }
  .attribution a {
    font-size: inherit;
    color: #837d87;
    text-decoration: none;
    letter-spacing: normal; }
  .attribution a:hover {
    color: #ff1427;
    text-decoration: underline; }
