.action {
  padding-bottom: 14rem;

  @include lg {
    padding-bottom: 15rem;
  }

  .container {
    width: 87%;
  }

  &__content {
    text-align: center;
    background: #2d2640;
    padding: 7.2rem 2.4rem 7rem;
    position: relative;
    z-index: 2;
    line-height: 4rem;
    overflow: hidden;

    &::before {
      content: url(/images/bg-pattern-how-we-work-mobile.svg);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @include lg {
        content: url(/images/bg-pattern-how-we-work-desktop.svg);
      }
    }

    @include lg {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7rem 8rem 6.8rem 8.1rem;
    }
  }

  .heading {
    font-size: 4rem;
    letter-spacing: -0.56px;
    padding-bottom: 4.2rem;

    @include lg {
      padding-bottom: 0;
      letter-spacing: -0.78px;
      line-height: 100%;
      max-width: 55%;
      font-size: 4.5rem;
    }

    @include xl {
      font-size: 5.6rem;
      max-width: 47.5rem;
    }
  }
}
