.navigation {
  padding: 1.9rem 0.6rem;
  background: white;
  position: relative;
  z-index: 1;

  @include med {
    padding: 1.8rem 0;
  }

  &__menu {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 10;
    position: relative;

    @include med {
      padding: 0;
    }
  }
}

.menu-logo {
  @include med {
    padding-top: 0;
    padding-left: 0.3rem;
  }
}

a {
  padding: 0;
}

.menu-icon {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  background-image: url(/images/icon-hamburger.svg);

  @include med {
    display: none;
  }
}

.menu-links {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  position: fixed;
  list-style: none;
  height: 58.7rem;
  width: 100%;
  top: 8rem;
  left: 0;
  transition: $animate;
  background: $deep-violet;
  transform-origin: top right;
  text-align: center;
  padding: 3rem 0 4rem;
  font-weight: 700;
  z-index: -1;
  text-transform: uppercase;
  list-style: none;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    z-index: 100;
    opacity: 0;
    left: 0;
    width: 100vw;
    top: 59rem;
  }

  @include med {
    position: static;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 2.8rem;
    transform: none;
    background: transparent;
    height: unset;
    width: unset;
    padding: 0;
    margin: 0;

    padding-top: 0.3rem;
    column-gap: 2.4rem;
  }

  li {
    line-height: 4rem;
    padding: 1.1rem 0;

    @include med {
      padding: 0;
    }

    &:last-child {
      &::after {
        content: "";
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 218px;
        width: 100%;
        width: 100%;
        background-size: cover;

        @include med {
          display: none;
        }
      }
    }
  }
}

.plans {
  margin-top: 0.8rem;

  @include med {
    margin: 0 0 0 0.8rem;
  }

  a {
    padding: 1.5rem 10rem;

    @include med {
      padding: 1.15rem 2.7rem;
    }
  }
}

#toggle {
  display: none;
}

#toggle:checked + .menu-icon {
  background-image: url(/images/icon-close.svg);
}

#toggle:checked ~ .menu-links {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#toggle:checked ~ .menu-links:after {
  opacity: 1;
}
